.form-container{
  
  background-color: #000D6B;
  border-radius: 10px;
  padding: 10px;
  max-width: 75%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .form-container{
    max-width: 100%;
  }
}